<template>
<!-- This example requires Tailwind CSS v2.0+ -->
<main class="lg:col-span-9 xl:col-span-9">
    <div class="bg-white shadow rounded-md py-5">
        <div class="flow-root">

            <ul class="-my-5 divide-y divide-gray-200">
                <li class="p-4" v-for="user in results" :key="user.id">
                    <div class="flex items-center space-x-4">
                        <!-- <div v-if="!user" style="padding: 10px">
                            <center><b>There are no added church members currently</b></center>
                        </div> -->
                        <div class="flex-shrink-0">
                            <img class="h-12 w-12 rounded-full" :src="'/storage'+user.image" alt="">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate">
                                {{user.fname}} {{user.lname}}
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                                Phone: {{user.phone}}, District: {{user.district}}
                            </p>
                        </div>
                        <div>
                            <router-link :to="{name: 'viewuser', params: { id: user.id }}" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50">
                                View
                            </router-link>
                        </div>

                        <div>
                            <button @click.prevent="deleteuser(user.id)" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-red-600 text-sm leading-5 font-medium rounded-full text-red-700 bg-white hover:bg-red-100">
                                Delete
                            </button>
                            <!-- <button onclick="document.getElementById('id01').style.display='block'" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-red-600 text-sm leading-5 font-medium rounded-full text-red-700 bg-white hover:bg-red-100">
                                Delete
                            </button> -->
                        </div>
                    </div>

                    <!-- modal -->

                    <!-- <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                        <form class="modal-content" action="/action_page.php">
                            <div class="container">
                                <h1>Deleting records of a church member</h1>
                                <p>This action is irreversible.Do you want to continue?</p>

                                <div class="clearfix">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                    <button type="button" @click.prevent="deleteuser(user.id)" class="deletebtn">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </li>

            </ul>
        </div>

    </div>
</main>
</template>

<script>
export default {
    data() {
        return {
            results: [],
            result2: [],
            message: {},
            age: '',
            search: '',
            isShowing: false
        }
    },
    mounted() {
        this.loaddata();

        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    },
    created() {
        this.result2 = this.data;
    },
    computed: {
        getAge() {
            var birthday = this.results.dateOfBirth;
            var today = new Date();
            var thisYear = 0;
            if (today.getMonth() < birthday.getMonth()) {
                thisYear = 1;
            } else if ((today.getMonth() == birthday.getMonth()) && today.getDate() < birthday.getDate()) {
                thisYear = 1;
            }
            this.age = today.getFullYear() - birthday.getFullYear() - thisYear;
            // return age;
            console.log(age)
        }
    },
    methods: {
        loaddata() {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = 'api/allusers';
            this.axios.get(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                this.results = response.data.list;
                localStorage.removeItem('apiData');
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'login'
                    });
                    clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'Could not load data in the table',
                        type: 'error',
                        title: 'Error'
                    });
                }
            });
        },
        deleteuser(id) {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `/api/user/delete/${id}`;
            this.axios.delete(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                // this.data.splice(this.data, 1);
                this.$notify({
                    group: 'foo',
                    text: response.data.message,
                    type: 'success',
                    title: 'Success!'
                })
                this.loaddata();
            });

        },
        filter() {
            let filterval = this.message.filterval;
            if (filterval === "" || filterval === null) {
                this.results = this.result2;
            } else {
                let data = this.result2.filter(function (product) {
                    return (
                        product.title.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.intro.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.link.toLowerCase().includes(filterval.toLowerCase())
                    );
                });
                this.results = data;
            }

        }
    },
}
</script>

<style scoped>
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Set a style for all buttons */
/* button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}
</style>
