<template>
<div>
    <h4 style="padding-left:100px"><b>{{info.hfname}} {{info.hlname}}</b> married to <b>{{info.wfname}} {{info.wlname}}</b></h4>

    <td style="padding:30px"><img height="200" width="200" :src="'/storage/'+info.himage" alt=""></td>
    <td style="padding:30px"><img height="200" width="200" :src="'/storage/'+info.wimage" alt=""></td>

    <li v-if="info.child1">{{info.child1}}</li>
    <li v-if="info.child2">{{info.child2}}</li>
    <li v-if="info.child3">{{info.child3}}</li>
    <li v-if="info.child4">{{info.child4}}</li>
    <li v-if="info.child5">{{info.child5}}</li>
    <li v-if="info.child6">{{info.child6}}</li>
    <li v-if="info.child7">{{info.child7}}</li>
    <li v-if="info.child8">{{info.child8}}</li>
    <li v-if="info.child9">{{info.child9}}</li>
    <li v-if="info.child10">{{info.child10}}</li>
</div>
</template>

<script>
const moment = require('moment');
export default {

    data() {
        return {
            info: {},
            age: ''
        }
    },
    created() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = `/api/viewcouple/${this.$route.params.id}`;
        this.axios.get(uri, {
            headers: {
                Authorization: token
            }
        }).then((response) => {
            if (response.data) {
                this.info = response.data.couple;
            }

            var birth_date = this.info.dateOfBirth; //getting date from api
            var current_date = new Date().toJSON().slice(0, 10); //getting current date

            //getting age using moment
            const dateC = moment(birth_date);
            const dateB = moment(current_date);
            this.age = (`${dateB.diff(dateC, 'years')}`);

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Login to access this page',
                type: 'error',
                title: 'Error'
            });

            // this.$router.push({
            //     name: 'login'
            // });
            // this.$router.go();
        });
    }
}
</script>

<style scoped>
img {
    border-radius: 100%;
}

textarea {
    padding: 7px;
}
</style>
